<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem name="menu-gst-root" order="-100" title="Gst" icon="fa-users" icon-background="blue" />
 <menuitem name="menu-gst-root-dashboard" title="Dashboard" parent="menu-gst-root" tag-style="important" action="dashboard.all"  />
   <menuitem name="menu-gst-root-party-root" order="-100" title="Party" parent="menu-gst-root" tag-style="important" />

   

<!-- Party Related Menu -->

  <menuitem name="menu-gst-root-party" order="-100" title="party" parent="menu-gst-root-party-root" action="party.all" tag-style="important"/>
   <action-view name="party.all" model="com.axelor.gst.db.Party" title="Party">
    <view type="grid" name="gst-party-grid" />
    <view type="form" name="gst-party-form" />
    <context name="json-enhance" expr="true" />
  </action-view>

<!-- gst contact menu -->
  <menuitem name="menu-gst-root-contact" order="-100" title="contact" parent="menu-gst-root-party-root" action="contact.all" tag-style="important"/>
   <action-view name="contact.all" model="com.axelor.gst.db.Contact" title="Contact">
    <view type="grid" name="gst-contact-grid" />
    <view type="form" name="gst-contact-form" />
    <context name="json-enhance" expr="true" />
  </action-view>

<!-- Address related Menu -->

  <menuitem name="menu-gst-root-party-configuration" order="-100" title="configuration" parent="menu-gst-root-party-root"/>
    <menuitem title="Address" name="menu-gst-root-party-configuration-address" parent="menu-gst-root-party-configuration" action="address.all" tag-style="important" />
  <action-view name="address.all" model="com.axelor.gst.db.Address" title="Address">
    <view type="grid" name="gst-address-grid" />
    <view type="form" name="gst-address-form" />
    <context name="json-enhance" expr="true" />
  </action-view>

    <menuitem title="city" name="menu-gst-root-party-configuration-city" parent="menu-gst-root-party-configuration" action="city.all" tag-style="important" />
  <action-view name="city.all" model="com.axelor.gst.db.City" title="City">
    <view type="grid" name="gst-configuration-city-grid" />
    <view type="form" name="gst-configuration-city-form" />
    <context name="json-enhance" expr="true" />
  </action-view>

   <menuitem title="State" name="menu-gst-root-party-configuration-state" parent="menu-gst-root-party-configuration" action="state.all" tag-style="important" />
  <action-view name="state.all" model="com.axelor.gst.db.State" title="State">
    <view type="grid" name="gst-configuration-state-grid" />
    <view type="form" name="gst-configuration-state-form" />
    <context name="json-enhance" expr="true" />
  </action-view>

  <menuitem title="Country" name="menu-gst-root-party-configuration-country" parent="menu-gst-root-party-configuration" action="country.all" tag-style="important" />
  <action-view name="country.all" model="com.axelor.gst.db.Country" title="Country">
    <view type="grid" name="gst-configuration-country-grid" />
    <view type="form" name="gst-configuration-country-form" />
    <context name="json-enhance" expr="true" />
  </action-view>

<!--   End for address related Menu -->

<!-- product menu -->
<menuitem name="menu-gst-root-product-root" order="-100" title="Product" parent="menu-gst-root" tag-style="important" />

<menuitem title="product" name="menu-gst-root-product" parent="menu-gst-root-product-root" action="product.all" tag-style="important" />
  <action-view name="product.all" model="com.axelor.gst.db.Product" title="Product">
    <view type="cards" name="gst-product-card"/>
    <view type="grid" name="gst-product-grid" />
    <view type="form" name="gst-product-form" />
    <context name="json-enhance" expr="true" />
  </action-view>
  <menuitem title="Product Categories" name="menu-gst-root-productcategorie" parent="menu-gst-root-product-root" action="productcategories.all" tag-style="important" />
  <action-view name="productcategories.all" model="com.axelor.gst.db.Productcategory" title="Product Categories">
    <view type="grid" name="gst-productcategory-grid" />
    <view type="form" name="gst-productcategory-form" />
    <context name="json-enhance" expr="true" />
  </action-view>


<!--   Company menu -->

  <menuitem name="menu-gst-root-company-root" order="-100" title="Company" parent="menu-gst-root" tag-style="important" />

      <menuitem title="company" name="menu-gst-root-company" parent="menu-gst-root-company-root" action="company.all" tag-style="important" />
          <action-view name="company.all" model="com.axelor.gst.db.Company" title="Company">
          <view type="grid" name="gst-company-grid" />
          <view type="form" name="gst-company-form" />
          <context name="json-enhance" expr="true" />
        </action-view>

         <menuitem title="Bank Account" name="menu-gst-root-bankaccount" parent="menu-gst-root-company-root" action="bankaccount.all" tag-style="important" />
          <action-view name="bankaccount.all" model="com.axelor.gst.db.Bankaccount" title="BankAccount">
          <view type="grid" name="gst-company-Bankaccount-grid" />
          <view type="form" name="gst-company-Bankaccount-form" />
          <context name="json-enhance" expr="true" />
        </action-view>


<!--         Invoice Menu -->


  <menuitem name="menu-gst-root-invoice-root" order="-100" title="Invoice" parent="menu-gst-root" tag-style="important" />

      <menuitem title="Create Invoice" name="menu-gst-root-invoice-form" parent="menu-gst-root-invoice-root" action="invoiceForm" tag-style="important" />
          <action-view name="invoiceForm" model="com.axelor.gst.db.Invoice" title="invoice">
          <view type="form" name="gst-invoice-form" />
        </action-view>
        <menuitem title="Draft Invoice" name="menu-gst-root-invoice-Draft" parent="menu-gst-root-invoice-root" action="invoiceDraft" tag-style="important" />
          <action-view name="invoiceDraft" model="com.axelor.gst.db.Invoice" title="invoice">
          <view type="grid" name="gst-invoice-grid" />
           <view type="form" name="gst-invoice-form" />
          <domain>self.status = 'Draft'</domain>
       </action-view>
         <menuitem title="Validated Invoice" name="menu-gst-root-invoice-validate" parent="menu-gst-root-invoice-root" action="invoiceValidated" tag-style="important" />
          <action-view name="invoiceValidated" model="com.axelor.gst.db.Invoice" title="invoice">
          <view type="grid" name="gst-invoice-grid" />
           <view type="form" name="gst-invoice-form" />
           <domain>self.status = 'Validated'</domain>
       </action-view>
       <menuitem title="Paid Invoice" name="menu-gst-root-invoice-paid" parent="menu-gst-root-invoice-root" action="invoicePaid" tag-style="important" />
          <action-view name="invoicePaid" model="com.axelor.gst.db.Invoice" title="invoice">
          <view type="grid" name="gst-invoice-grid" />
           <view type="form" name="gst-invoice-form" />
           <domain>self.status = 'Paid'</domain>
       </action-view>

       <menuitem title="Cancel Invoice" name="menu-gst-root-invoice-cancel" parent="menu-gst-root-invoice-root" action="invoiceCancel" tag-style="important" />
          <action-view name="invoiceCancel" model="com.axelor.gst.db.Invoice" title="invoice">
          <view type="grid" name="gst-invoice-grid" />
           <view type="form" name="gst-invoice-form" />
           <domain>self.status = 'Cancelled'</domain>
       </action-view>
      <menuitem title="All Invoice" name="menu-gst-root-invoice-All" parent="menu-gst-root-invoice-root" action="invoiceDisplay" tag-style="important" />
          <action-view name="invoiceDisplay" model="com.axelor.gst.db.Invoice" title="invoice">
          <view type="kanban" name="gst-invoice-kanban"/>
          <view type="grid" name="gst-invoice-grid" />
           <view type="form" name="gst-invoice-form" />
       </action-view>


<!--         sequence Menu -->

 <menuitem name="menu-gst-root-sequence" order="-100" title="Sequence" parent="menu-gst-root" tag-style="important" />

      <menuitem title="Sequence" name="menu-gst-root-sequence-model" parent="menu-gst-root-sequence" action="sequence.all" tag-style="important" />
          <action-view name="sequence.all" model="com.axelor.gst.db.Sequence" title="Sequence">
          <view type="grid" name="gst-sequence-grid" />
          <view type="form" name="gst-sequence-form" />
          <context name="json-enhance" expr="true" />
        </action-view>
	
	
<!-- 	DashBoard -->

	
	
          <action-view name="dashboard.all" model="com.axelor.gst.db.Invoice" title="Chart">
        		  <view type="dashboard" name="gst-dashboard" />       
          </action-view>

 </object-views>
